<?php

    define("AWS_ACCESS_KEY", "");
    define("AWS_SECRET_KEY", "");
    
    define("IMAGE_BUCKET", "");
    define("FRAME_BUCKET", "");
    define("ZEEGA_HOST", "");
    define("PATH", "");


?>
